  {{ partial "header.html" . }}
  <div class="page">
    <div class="content">
      <article class="post">
        <header class="post-header">
          <div><i class="fa fa-calendar-o post-date-icon"></i><a href="{{ .Permalink }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</a></div>
          <h1 class="post-heading"><a href='{{ .Permalink }}'> {{ .Title }}</a></h1>
        </header>
        {{ .Content }}
      </article>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
  {{ partial "footer.html" . }}
