.footer {
  background-color: #f8f8f9;
  border-top: 5px solid $highlight-main;
  margin-top: 20px;
  padding: 1em 0;
  width: 100%;

  &--container {
    @include outer-container;
  }

  &--left,
  &--right {
    @include span-columns(6);

    padding: 0 $padding-h;

    @include media($mobile) {
      @include span-columns(12);

      text-align: center;
    }
  }

  &--right {
    text-align: right;
    @include media($mobile) {
      @include span-columns(12);

      text-align: center;
    }
  }
}
