$nav-background-color: #f8f8f9;

.nav {
  background-color: $nav-background-color;
  border-bottom: 7px solid $highlight-main;
  font-size: 1.125em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-container {
  @include outer-container;

  margin-bottom: 0;
  margin-top: 0;
  padding: 0 $padding-h;
}

.nav-item {
  float: left;
  list-style: none;
  position: relative;
}

.nav-link {
  @include transition(all ease .25s);

  display: block;
  padding: .844em 1.3em;

  &::before {
    @include transform(scaleY(0));
    @include transform-origin(50% 100%);
    @include transition-property(transform);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);

    background: $highlight-main;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &.active::before {
    @include transform(scaleY(.1));
  }

  &:hover {
    color: $nav-background-color;

    &::before {
      @include transform(scaleY(1));
    }
  }
}

