#sidebar {
  background-color: $sidebar-background-color;
  bottom: 0;
  color: $sidebar-text-color;
  position: fixed;
  top: 0;
  width: $sidebar-width;

  @include media($mobile) {
    position: relative;
    width: 100%;
  }
}

