// Layout
$sidebar-width: 330px;

// Media Queries
$mobile: max-width 768px;

// Fonts
$font-main: 'Roboto';
$font-mono: 'Inconsolata';

// Colors
$sidebar-background-color: #1f201b;
$sidebar-text-color: #fff;
